.footer-line {
    height: 40px;
    background-color: #000;
    width: 100%;
    margin-top: 20px;
    padding: 1rem;
}

.derechos {
    margin: 20px;
    text-align: center;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#face,
#ig {
    height: 50px;
    cursor: pointer;
}
