@mixin mobile {
    @media (max-width: 768px) {
    @content;
    }
}
@mixin mobile-padding-texto {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
@mixin separacion-top($desktop: 8rem, $mobile: 10rem) {
    margin-top: $desktop;

    @include mobile {
        margin-top: $mobile;
    }
}