

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}
@mixin phone-sm {
    @media (max-width: 420px) {
        @content;
    }
}

@mixin mobile-padding-texto {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

  // Nuevo mixin para separar contenido del navbar

@mixin separacion-navbar {
    padding-top: 250px;
}