@use 'variables' as *;

.navbar {
    background-color: #000; // negro como lo tenías
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .menu-toggle {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

    .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;

    li a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-family: $font-principal;
        transition: color 0.3s;

        &:hover {
        color: $verde-lima;
        }
    }
    }
}

// RESPONSIVE
@media (max-width: 768px) {
    .navbar {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #000;
        width: 100%;
        padding: 1rem 2rem;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        z-index: 999;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li a {
        color: #fff;
    }
    }
}