@use 'variables' as *;

.navbar {
    background-color: #000;
    padding: 1rem 5%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    position: relative;

    .menu-toggle {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    user-select: none;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 2rem;

        li a {
            text-decoration: none;
            color: #fff;
            font-weight: 600;
            font-family: $font-principal;
            transition: color 0.3s;

            &:hover {
            color: $verde-lima;
        }
    }
}
/*menu hamburguesa/ responsive*/
    @media (max-width: 768px) {
        justify-content: space-between; 
        .menu-toggle {
        display: block;
    }

        .nav-links {
        flex-direction: column;
        display: none;
        background-color: #000;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem;
        z-index: 999;

        li {
            margin-bottom: 1rem;
    }
    }

        .nav-links.active {
            display: flex;
        }
    }
}
