
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:  black;
}
// _variables.scss

$verde-lima: #A4FF00;
$gris-claro: #f9f9f9;
$gris-texto: #444;
$font-principal: 'HKGrotesk', sans-serif;
