@use 'body';
@use 'cards';
@use 'footer';
@use 'formulario';
@use 'header';
@use 'home';
@use 'mixins';
@use 'navbar';
@use "reset";
@use "variables";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
